.panel.panel-default
  .panel-heading
    .panel-title= Ecm::Youtube::Video.model_name.human(count: :other)
  %table.table.table-striped.table-condensed.table-hover
    = render_collection(@resource.videos, Ecm::Youtube::Video, as: :bootstrap_table) do |table, record|
      = table.column :preview, as: :youtube_video, width: 320, height: 240, aspect_ratio: '4by3'
      = table.column :title, class: 'truncate-chars truncate-chars-30'
      = table.column :description, class: 'truncate-chars truncate-chars-30'
      = table.column :duration, as: :duration
      = table.column :identifier
      = table.timestamps
  .panel-footer