= table.row :category, as: :association, label_method: :identifier
= table.row :title
= table.row :description
= table.row :duration, as: :duration
= table.row :preview, as: :youtube_video, width: 320, height: 240, aspect_ratio: '4by3'
= table.row :identifier
= table.row :published
= table.row :created_at
= table.row :updated_at